NEXT_PUBLIC_API_URL=http://localhost:3001/api
NEXT_PUBLIC_QUEUE_SERVICE_URL=http://localhost:3002

# SSO Google (mesmo client ID do api-gateway)
NEXT_PUBLIC_GOOGLE_CLIENT_ID=seu-client-id.apps.googleusercontent.com
